@font-face {
    font-family: 'BlowBrush';
    src: url('fonts/BlowBrush.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

 @font-face {
    font-family: 'Alissya';
    src: url('fonts/Alissya.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0; 
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%; 
}

html{
    scroll-behavior: smooth;
}

* {
    font-family: 'Roboto Slab', serif;
    color: #333447;
    line-height: 1.5; 
}
    
.section{
    background: blue;
    min-height: 100vh;
}

#home-section{
    background: white; 
}

.masthead{
    margin: 3vw;
}

.my-name{
    font-family: Alissya;
    font-size: 6vw;
    font-weight: 100;
    line-height: 100%;
    letter-spacing: 3px;
    color: #00BFA5;
}

.destiny{
    font-family: BlowBrush;
    font-size: 1.5vw;
    font-weight: 100;
    line-height: 50%;
    letter-spacing: 3px;
    padding-left: 300px;
}

.my-intro{
    left: 10%;
    position: absolute;
    top: 60%;
    font-size: 1.2vw;
    -ms-transform: translateY(-60%);
    transform: translateY(-60%); 
    max-width: 30%;
    color: #212121;
    line-height: 140%;
    letter-spacing: 2px;
    text-align: justify;
    text-shadow: 0px 3px #00FF66;
}

.contact-group{
    width: 4vw;
    text-align: center;
    background-color: white;
    position: absolute;
    left: 60%;
    right: 40%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-icon a {
    display: block;
    text-align: center;
    padding: 1vw;
    transition: all 0.3s ease;
    font-size: 1.5vw;
}

.contact-icon a *{
    color: #00BFA5;
}

.contact-icon:hover > .contact-text{
    visibility: visible;
    transform: translate(5%, 0px);
} 

.contact-icon{
    position: relative;
}

.contact-text{
    visibility: hidden;
    width: 6vw;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    text-align: left;
    transition: transform .5s ease-out;
    top: 1vw;
    left: 120%;
    font-size: 1vw;
}

.section-footer{
    position: absolute;
    transition: transform .3s ease-out;
    bottom: 5%;
    left: 50%;
    font-size: 1.8vw;
}

.section-footer *{
    color: #000000;
}

.section-footer:hover{
    transform: translate(0, 10px);
}

.elevator{
    top: 25%;
    bottom: 75%;
    position: fixed;
    right: 5%;
}

.floor-display{
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-size: 1.5vw;
    letter-spacing: 3px;
    display: inline-block;
    margin: 8px;
}

.floor-display.active{
    text-shadow: 0px 3px #00FF66;
}

.button-group{
    border: none;
}

.lift-button{
    cursor: pointer;
    margin: 8px auto;
    outline: none;
    font: bold 1vw "Roboto Slab", Arial, Helvetica, Geneva, sans-serif;
    text-align: center;
    border: 0px;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    color: #e9e6e4;
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    		
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.lift-button:active{
    color:#212121;
	text-shadow:0px 0px 6px #00FF66;
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.lift-button.active{
    cursor: default;
    color:#212121;
	text-shadow:0px 0px 6px #00FF66;
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.lift-button.active:hover, .lift-button.active:hover+.floor-display{
	text-shadow:0px 0px 6px #00FF66;
}
.lift-button:hover , .lift-button:hover+.floor-display{
    color:#212121;
	text-shadow:0px 0px 6px #eb2f2f;
}

#about-section{
    background: #E8EAF6; 
    box-shadow: 0px -3px 10px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}
